.wrapper{
   position:relative;
   background-color: darkslategray;
   width:100vw;
   height:100vh;
   margin:0 auto;
}

.logOut_button{
   position:absolute;
   top:0;
   right:0.5%;
   width:100px;
   height:50px;
   border-radius: 13px;
   background-color:lavender;
   color:black;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 20px;
}

.chat_main_container{
   width:85%;
   height:100vh;
   border-right:2px solid ghostwhite;
   border-left:2px solid ghostwhite;
   margin:0 auto;
   display:flex;
   flex-direction: column;
}

.chat_body__container{
   background-color:darkslategray;
   height:92%;
   overflow-y:auto;
   scroll-behavior: smooth;
}

.chat_input__container{
   display:flex;
   justify-content:center;
   align-items:center;
   height:8%;
}
.chat_input{
   height:60%;
   border-radius:20px;
   width:80%;
   padding-left: 10px;
   font-size:20px;
   outline: none; 
   border:none;
   -webkit-border-radius: 20px; 
   -moz-border-radius: 20px; 
   -khtml-border-radius: 20px;
}

.chat_send_icon{
   mask-image:url('../../assets/pictures/send.svg');
   mask-repeat: no-repeat;
   margin-left:10px;
   width:40px;
   background-color:white;
   height:40px;
   cursor: pointer;
   transition:0.2s all ease;
   &:hover{
      background-color:grey;
   }
}

@media (max-width:1340px){
   .logOut_button{
      width:6%;
      height:10%;
      margin-right:0.5%;
   }
}

@media (max-width:850px){
   
   .chat_main_container{
      width:94%;
      height: 100vh;
      margin-left:3%;
   }
   .chat_main_container{
      border:none;
   }

   .chat_input__container{
      width:100%;
   }
   .chat_input{
      width:90vw;
   }
   .logOut_button{
      background-image:url('../../assets/pictures/logout.svg');
      height:5%;
      position:fixed;
      width:10%;
      top:2%;
      font-size:0;
      background-position: center;
      background-size: 90%;
      background-repeat: no-repeat;
   }
   
}