.message_container{
   width:100%;
   max-width:100%;
   display:flex;
   flex-direction: column;
   align-items:flex-start;
}

.message_body{
   height:max-content;
   width:max-content;
   max-width: 50%;
   background-color: #d9caf5;
   color:black;
   margin-top: 10px;
   border-radius: 20px;
   margin-left:10px;
}

.message_body_from_me{
   @extend .message_body;
   background-color:aqua;
   align-self:flex-end;
   margin-left:0;
   margin-right:10px;
}

.message_author{
   display: inline-block;
   width:max-content;
   font-weight: bold;
   margin-left:20px;
   margin-top:10px;
   margin-right:10px;
}

.message_text{
   display: inline-block;
   width:max-content;
   max-width: 95%;
   word-wrap: break-word;
   margin-left:20px;
   margin-top:10px;
   margin-bottom:10px;
   font-size:18px;
}

@media (max-width: 850px){
   .message_body{
      max-width: 70%;
   }
   .message_text{
      max-width: 85%;
   }
}